<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Project Page</title>
</head>
<body>
    <div class="nav">
        <div class="home">
            <a href="/">Home</a>
        </div>
        <div class="project">
            <a href="/projects">Projects</a>
        </div>
        <div class="contact">
            <a href="/contact">Contact</a>
        </div>
    </div>
    <h1>Here are some projects of mine!</h1>
    <div class="project-container">
        <div class="project-top">
            <img class="profile-pic1"src="/images/html.png" alt="">
            <div class="proj-description">
                <h3>Abyssinia Tour and Travel</h3>
                <p>This project is a web site for tour and travel<br>
                    company. It has a full navigation bar at top<br> 
                    and bottom of page.The links at the navigation<br>
                    bar takes us to home page, top destinations,<br> 
                    contact us,accomodations and other pages.It is<br>
                    built using HTML,CSS,JavaScript.
                </p>
            </div>
            
        </div>
        <div class="project-top">
            <img class="profile-pic1"src="/images/m.png" alt="">
            <div class="proj-description">
                <h3>Mern</h3>
                <p>dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh
                
                </p>
            </div>
        </div>
        <div class="project-top">
            <img class="profile-pic1"src="/images/python.jfif" alt="">
            <div class="proj-description">
                <h3>PackMan Game</h3>
                <p>This project is a full stack projectbuilt <br>
                    using Python. It has a login and registration <br>
                    page and a page to play the game.The project <br>
                    utilizes database using MySql server and the MVC model.
                </p>
            </div>
        </div>
        <div class="project-top">
            <img class="profile-pic1"src="/images/c.jfif" alt="">
            <div class="proj-description">
                <h3>C#</h3>
                <p>dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh<br>
                    dfdfgfhghgfdgghgkhgglhjhohjfhlkghlhkothytjuhyoh
                
                </p>
            </div>
        </div>
    </div>

</body>
</html>